<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <%= js.asText(prismic.pages[0].data.title) %> - Developer Blog
        </title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-atom-dark.min.css"
            integrity="sha512-GZPS1oCebjx8g/ZkrTTvWirW+4wDkzIsilUQPXcZzuDpDzoH5brM2AojiFjo6ObIWeM68ZDostvdjaS9MNYCTg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <header>
            <h1><%= js.asText(prismic.pages[0].data.title) %></h1>
        </header>

        <main><%- content %></main>
        <footer>
            <p>Made by Louise Findlay</p>
        </footer>
        <script
            async
            defer
            src="https://static.cdn.prismic.io/prismic.js?new=true&repo=developerblog"
        ></script>
    </body>
</html>
