---
layout: base-layout.ejs
pagination:
  data: prismic.developer_posts
  size: 1
  alias: post
	addAllPagesToCollections: true
permalink: "blog/<%= post.uid %>/"
---

<h2>Markdown from Plain Text</h2>
<h3>
    Renders properly but no paragraphs or headings - since obtained from API as
    key text
</h3>
<%- js.markdown(js.asText(post.data.content)) %>
<h2>Markdown from HTML</h2>
<h3>
    Doesn't render but contains paragraphs - since obtained from API as HTML
</h3>
<%- js.markdown(js.asHTML(post.data.content)) %>
