---
layout: base-layout.ejs
pagination:
  data: prismic.developer_posts
  size: 1
  alias: post
	addAllPagesToCollections: true
permalink: "blog/<%= post.uid %>/"
---

<h2>Markdown from Plain Text</h2>
<%- js.markdown(js.asText(post.data.content, "\n")) %>
